# Basics
- operators
- variables
- datatypes
- keywords
- io

In [ ]:
2 + 2

In [ ]:
345627234567890234567 + 12345678987654323456788567

arithmetic operator
```
* / // **
+ -
```

In [ ]:
21390*7

In [ ]:
10/3

In [ ]:
10//3

In [ ]:
10**3

assignment operator
```
= += -= *= /= //= %= **=
```

In [ ]:
x=101
y=2.3910
z=False
a=None

In [ ]:
x=5 # direct assignment
x+=10 # update assignment
x-=2
x*=3
name="Omi mishra"
name +="☘️"

In [ ]:
a=12
b=14
c=a+b

comparison operator
```
<
>
<=
>=
==
!=
```

In [ ]:
a>10

In [ ]:
a< a-5

In [ ]:
a=10
b=3

In [ ]:
a>b

In [ ]:
a<b

In [ ]:
a<=b

In [ ]:
a>=b

In [ ]:
a!=b

In [ ]:
a==b

In [ ]:
a<b>10

In [ ]:
False>10

logical operator
```
and 
or
not
```

In [ ]:
a=10
b=20
a<b and b>30

In [ ]:
a<b or b>30

if you have to use multiple statements in a single cell then you have to use print statement.

In [ ]:
print(a<b or b>30)
print(a<b and b>30)
print( not a<b)

membership operator `in`

In [ ]:
fruits=['apple','banana','cherry']
print('apple' in fruits)
print('orange' in fruits)
print('orange' not in fruits)
print('banana' not in fruits)
# in searches for element inside a list

identity operator `is`

In [ ]:
x=20
y=x
print(x,y)
print (x==y) # value equality
print (x is y) # reference equality
# is checks the memory address is same or not

In [ ]:
x=[1,2,3]
y=x #reference copy
z=x.copy() #value copy
print (x is y)
print (x is not z)
print (x == z)
print (x == y)

Datatypes(9)
- integers `int`
- float `float`
- boolean `bool`
- None `NoneType`
- string `str`
- list `list`
- tuple `tuple`
- set `set`
- dictionary `dict`

In [ ]:
coords=(10,20,32)
names={'Alex',"Srishti", 'Noa',"Arti"}
info ={'name':'Omi', "age":'20',"city":'Edinburgh'}

In [5]:
del x #delete the variable from memory