example `ans = input("prompt")`

In [3]:
input("enter your name")

'omi mishra'

In [5]:
name=input("enter your name")
city =input("enter your city")
sports=input("enter your fav sport")
luckynum=input("enter your lucky number")

In [6]:
a=input('enter a number')
b=input('enter a number')
print(a+b)

123456

typecasting

from one datatype => another

str=> int (variable) => int

In [7]:
int('120')

120

In [8]:
a=10
b='10'
c="10.20"
d=10.20
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [10]:
print(float(a))
print(str(a))
print(bool(a))
print(int(b))

10.0
10
True
10

In [11]:
a=input('enter a number')
b=input('enter a number')
c=int(a)+int(b)
print(c)

666

In [12]:
a=int(input('enter a number'))
b=int(input('enter a number'))
c=a+b
print(c)

395

In [14]:
p=int(input("enter principle amount"))
r=float(input('enter the rate '))
t=int(input('enter the time'))
si=p*r*t/100
print(si)

864.0

answer: 12 - 3 = 9

In [15]:
a=12
b=3
c = a - b
print ("answer:", a, '-', b, '=', c) #comma seperated formated output

answer: 12 - 3 = 9

In [19]:
p=int(input("enter principle amount"))
r=float(input('enter the rate '))
t=int(input('enter the time'))
si=p*r*t/100
print('Simple interest calculator')
print('Principle = ', 'Rs' ,p)
print('Rate =', r , '%')
print('Time =', t ,  'years')
print('-' * 35)
print('Simple interest =' , si)

Simple interest calculator
Principle =  Rs 400000
Rate = 5.78 %
Time = 25 years
-----------------------------------
Simple interest = 578000.0

In [21]:
print(a,b,c,d , sep=",")

12,3,9,10.2

In [22]:
print(*'hello' , sep='-') #advance version
fruits=['apple','cherry','banana']
print (*fruits, sep =',')

h-e-l-l-o
apple,cherry,banana

string interpolatiion for formatted output

In [23]:
a=12
b=3
c = a - b
print ("answer:", a, '-', b, '=', c)
print (f"answer: {a} - {b} = {c}")

answer: 12 - 3 = 9
answer: 12 - 3 = 9

In [25]:
#area of triangle 
b= int(input("enter the base of the triangle"))
h= int(input("enter the height of the triangle"))
area= 1/2*b*h
print("Area of the triangle")
print(f'Base = {b} cm')
print(f'Height = {h} cm')
print('_' * 20)
print(f"Area = {area} cm")

Area of the triangle
Base = 45 cm
Height = 73 cm
____________________
Area = 1642.5 cm