# list 
- create 
- indexing and slicing
- methods
     - append()
     - insert()
     - extend()
     - remove()
     - pop()
     - clear()
     - count()
     - reverse()
     - sort()
     - index()
     - copy()
- comprehension

In [75]:
a = [1,2,3]
print (a,type(a))
names = ['Alice','Bob','Charlie']
print(names,type(names))
data = ['apple','30','mango','100','cherry',70]
nested_list = [[1,2,3],[4,5,6],[7,8]]
duplicated_list = [1,2] * 10
print(data)
print(nested_list)
print(duplicated_list)
print (list('vertex'))
print('welcome to listing'.split())

[1, 2, 3] <class 'list'>
['Alice', 'Bob', 'Charlie'] <class 'list'>
['apple', '30', 'mango', '100', 'cherry', 70]
[[1, 2, 3], [4, 5, 6], [7, 8]]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
['v', 'e', 'r', 't', 'e', 'x']
['welcome', 'to', 'listing']

In [76]:
n =[11,12,13,14,15,16,17,18,19,20]
print('first five',n[:5])
print('last five',n[:-5])
print ('last element =',n[-1])
print ('first element =',n[0])
print ('except first 2 and last 2 elements =',n[2:-2])
print ('reverse list =',n[::-1])
print ('all even indexes =',n[::2])
print ('all odd indexes =',n[1::2])
print('reversing first five =',n[4::-1])

first five [11, 12, 13, 14, 15]
last five [11, 12, 13, 14, 15]
last element = 20
first element = 11
except first 2 and last 2 elements = [13, 14, 15, 16, 17, 18]
reverse list = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
all even indexes = [11, 13, 15, 17, 19]
all odd indexes = [12, 14, 16, 18, 20]
reversing first five = [15, 14, 13, 12, 11]

In [77]:
#list is mutable
n[5] = 200 #update
print (n)
n[0] = 200
print(n)

[11, 12, 13, 14, 15, 200, 17, 18, 19, 20]
[200, 12, 13, 14, 15, 200, 17, 18, 19, 20]

In [78]:
movies = []
movies.append('Star wars')
movies.append('Harry Potter')
movies.append('The core')
movies.append('Kal ho na ho')
movies.append('Cocktail')
movies.append('The Notebook')
print (movies)
print(len(movies))

['Star wars', 'Harry Potter', 'The core', 'Kal ho na ho', 'Cocktail', 'The Notebook']
6

In [79]:
ff =['fast and furious','2 fast and furious','fast and furious :Tokyo drift',
     'fast 5',
     ]

ff.insert(3,'fast and furious 4')
print(ff)

['fast and furious', '2 fast and furious', 'fast and furious :Tokyo drift', 'fast and furious 4', 'fast 5']

In [80]:
n = [1,2,3,6,7,8,9]
n.insert(3,4) # on 3rd index , insert value = 4
print (n)
n.insert(4,5) # on 4rd index , insert value = 5
print (n)
n.insert(100,5) # invalid index, so it will insert at the end
print (n)

[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 5]

In [81]:
#adding a list in a another list
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l1.extend(l2)
print(l1)
print(l2)
l2.extend(l3)
print(l2)
l3.extend([1,2,3,4,5,6])
print(l3)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]
[4, 5, 6, 7, 8, 9]
[7, 8, 9, 1, 2, 3, 4, 5, 6]

In [82]:
n.remove(3) #search where is 3 and remove it
print(n)
n.remove(5) # remove first occurence of 5
print (n)

[1, 2, 4, 5, 6, 7, 8, 9, 5]
[1, 2, 4, 6, 7, 8, 9, 5]

In [83]:
movies
movies.remove('The core')
print(movies)

['Star wars', 'Harry Potter', 'Kal ho na ho', 'Cocktail', 'The Notebook']

In [84]:
n.pop(3)
print(n)

[1, 2, 4, 7, 8, 9, 5]

In [85]:
n.pop() # removes last element at last index

5

In [87]:
n.clear()
print(n)
movies.clear()
print(movies)

[]
[]

In [88]:
x = [1,2,3,1,1,1,2,2,2,3,4,5,5]
print(x.count(1))
print(x.count(2))
print(x.count(3))
print(x.count(4))
print(x.count(5))

4
4
2
1
2

In [89]:
y =[1,2,3,4,5]
y.reverse() # or y[::-1]
print(y)

[5, 4, 3, 2, 1]

In [92]:
names = ['zainab','tina','alia','fina','heena','susaane']
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['alia', 'fina', 'heena', 'susaane', 'tina', 'zainab']
['zainab', 'tina', 'susaane', 'heena', 'fina', 'alia']

In [93]:
heroes =['Vijay','Virat','Rohit','Rishabh','Major']
idx = heroes.index('Rishabh')
print(idx)

3

In [94]:
x = [1,2,3]
y = x # y is a reference to x mainly for data structures in python
z = x.copy() # z is a shallow copy of x
x.append(4)
y.append(5)
z.append(6)
print(x)
print(y)
print(z)
print(x is y) #checks memory location
print(x is z)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 6]

In [95]:
x =[1,2,3,4,5]
y = []
for i in x:
    s = i**2
    y.append(s)
print(y)

[1, 4, 9, 16, 25]

#### Syntax of comprehension
`newlist = [operation loop (condition)]`

In [96]:
y = [i**2 for i in x]
print(y)

[1, 4, 9, 16, 25]

In [97]:
a =[1,2,3,4,5,6,7,8,9,10]
b = [i - 10 for i in a]
print (b)

[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [99]:
x = [5,24,8,11,25,10,2,26]
even = [i**2 for i in x if i % 2 == 0]
print (even)

[576, 64, 100, 4, 676]

In [100]:
odd = [i - 5 for i in x if i % 2 !=0]
print(odd)

[0, 6, 20]

In [103]:
a = [65,68,59,70,80]
b =[ chr(i) for i in a]
print (a)
print(b)

[65, 68, 59, 70, 80]
['A', 'D', ';', 'F', 'P']

In [104]:
crap_list = ['A',1,2,3,'B','C','D',4,5,6,7,2]
clean_list = [i for i in crap_list if isinstance(i,int)]
print(crap_list)
print(clean_list)

['A', 1, 2, 3, 'B', 'C', 'D', 4, 5, 6, 7, 2]
[1, 2, 3, 4, 5, 6, 7, 2]

In [106]:
clean_list = [i for i in crap_list if isinstance(i,str)] #datatype checking function
print (clean_list)

['A', 'B', 'C', 'D']

In [107]:
# make all the input to a int list
nums = [int(n) for n in input().split()]
print(nums)

[1, 2, 3, 4, 5, 6]

In [108]:
a = (1,2,3,4,5)
print (a,type(a))
#single element tuple
c = (1,)
print(c)
d = (1,)*5
print(d)
e = tuple ([1,2,3,4,6])
print (e,type(e))

(1, 2, 3, 4, 5) <class 'tuple'>
(1,)
(1, 1, 1, 1, 1)
(1, 2, 3, 4, 6) <class 'tuple'>

In [109]:
print(a[0])
print(a[1])
print(a[-1])
print(a[:3])
print(a[3:])

1
2
5
(1, 2, 3)
(4, 5)

In [111]:
x = (1,2,2,3,4,5,6,7)
print(x.count(1))
print(x.count(2))
print(x.index(7))

1
2
7