# set
- create
- method

In [19]:
x =  set() #empty set
print (x)
y = {1,2,3,4,5,1,2}
print (y)
fruits = {'apple','banana','cherry'}
print (fruits)
data = {'apple',205,67,'banana'}
print (data)
a = set ([1,2,3,4,5,6,7,8,9,10])
b = set ('harry potter')
print (a)
print (b)

set()
{1, 2, 3, 4, 5}
{'banana', 'cherry', 'apple'}
{'banana', 67, 'apple', 205}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'a', 'r', ' ', 'y', 'o', 'p', 't', 'e', 'h'}

In [20]:
a = set()
a.add('The emperor')
a.add('The fine print')
a.add('Sinners consumed')
print (a)

{'The emperor', 'Sinners consumed', 'The fine print'}

In [21]:
a.update (['Better than the movies','Haunting adeline','King of wrath'])
print (a)

{'The emperor', 'King of wrath', 'Sinners consumed', 'The fine print', 'Haunting adeline', 'Better than the movies'}

In [22]:
a.add('Better than the movies')
print (a)

{'The emperor', 'King of wrath', 'Sinners consumed', 'The fine print', 'Haunting adeline', 'Better than the movies'}

In [23]:
a.discard('The fine print') #no error
print (a)

{'The emperor', 'King of wrath', 'Sinners consumed', 'Haunting adeline', 'Better than the movies'}

In [24]:
a = {1,2,3}
b = {3,4,5}
c = {6,7,8}
print (a.union(b))
print (a.union(b,c))
print (a | b | c) # | is union

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
print (a.intersection( b ))
print (a & b) # & is intersection
print (a & c)
print (a & b & c)

{3}
{3}
set()
set()

In [27]:
print (a.difference(b)) # unique value of a
print (b.difference(a))
print (a-b)

{1, 2}
{4, 5}
{1, 2}

In [28]:
print (a.symmetric_difference(b)) # except common value
print (a ^ b ) # ^ is symmetric difference

{1, 2, 4, 5}
{1, 2, 4, 5}

### Dictionary

In [1]:
data = ["Alex", True, False, 29, "New York", "Photographer"]

datadict = {
    'name': 'Alex',
    'isMarried': True,
    'hasChildren': False,
    'age': 29,
    'city': 'New York',
    'profession': 'Photographer'
}

movies = {} # empty dictionary

expenditure = dict(
    food = 500,
    rent = 1700,
    insurance = 200,
)

print(datadict)
print(expenditure)

{'name': 'Alex', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'New York', 'profession': 'Photographer'}
{'food': 500, 'rent': 1700, 'insurance': 200}

In [2]:
print(datadict['name'])
print(datadict['isMarried'])
print(datadict['city'])
# print(datadict['state']) # KeyError

Alex
True
New York

In [3]:
print(datadict.get('city'))
print(datadict.get('City'))     # City is not in the dictionary
print(datadict.get('age', 100)) # default value not used
print(datadict.get('AGE', 100)) # AGE is not in the dictionary

New York
None
29
100

In [4]:
movies['Deadpool & Wolverine'] = "Shawn Levy" 
movies['BahuBali'] = "SS Rajamouli"
movies['Inception'] = "Christopher Nolan"
print(movies)

{'Deadpool & Wolverine': 'Shawn Levy', 'BahuBali': 'SS Rajamouli', 'Inception': 'Christopher Nolan'}

In [6]:
movies.update(
    {
    'The Dark Knight': 'Christopher Nolan', 
    'The Prestige': 'Christopher Nolan',
    'The Matrix': 'Wachowski Brothers',
    }
)
print(movies)

{'Deadpool & Wolverine': 'Shawn Levy', 'BahuBali': 'SS Rajamouli', 'Inception': 'Christopher Nolan', 'The Dark Knight': 'Christopher Nolan', 'The Prestige': 'Christopher Nolan', 'The Matrix': 'Wachowski Brothers'}

In [7]:
datadict['name'] = 'Alexander'
print(datadict)

{'name': 'Alexander', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'New York', 'profession': 'Photographer'}

In [9]:
movies.pop("BahuBali")

'SS Rajamouli'

In [10]:
movies

{'Deadpool & Wolverine': 'Shawn Levy',
 'Inception': 'Christopher Nolan',
 'The Dark Knight': 'Christopher Nolan',
 'The Prestige': 'Christopher Nolan',
 'The Matrix': 'Wachowski Brothers'}

In [ ]:
for item in datadict:
    print(item)

In [ ]:
for item in datadict:
    print(datadict[item])

In [ ]:
for k,v in datadict.items():
    print(k, v)

In [ ]:
movies.keys()

In [ ]:
movies.values()

nested dictionary

In [ ]:
report = {
    '01' : {
        'name' : "Alex",
        'subjects' : {
            'maths' : 90,
            'science' : 85,
            'english' : 95
        }
    },
    '02' : {
        'name' : "John",
        'subjects' : {
            'maths' : 80,
            'science' : 75,
            'english' : 85
        }
    },
}

In [ ]:
report['02']['subjects']['english']

In [ ]:
from pprint import pp

In [ ]:
pp(report)

In [ ]:
rainfall_data = {
    'year' : [2019, 2020, 2021, 2022, 2023],
    'rainfall' : [100, 200, 150, 300, 250]
}
print(rainfall_data)