### Strings
- creation
- indexing and slicing
- methods

In [ ]:
# single quoted
a = 'apple'
print (type(a))

In [ ]:
# double quoted
b = "big apple"
print (type(b))

In [ ]:
# triple quoted (in multiple lines)
c = '''this is a string
and its in triple
quotes'''
print(type(c))

In [3]:
d = str(1278353)
print (type(d))

<class 'str'>

types of string
- byte `b'hello'`
- raw `r'hello'`
- format `f'hello {a}'`

In [4]:
print (b'this is a byte string')
print (r'this is \n\n\n a byte string')
print (f'{a} is a value')

b'this is a byte string'
this is \n\n\n a byte string
apple is a value

# indexing
```
    -5  -4  -3  -2  -1
     a   p   p   l   e
     0   1   2   3   4
```

In [5]:
word = 'Greek'
print (word[0])
print (word[1])
print (word[2])
print (word[-2])
print (word[-1])

G
r
e
e
k

In [6]:
msg = "Journey before destination"
print(msg[15])
print(msg[-6])

d
n

# Slicing
```
sequence[start : stop]
```

In [8]:
print (msg[0:7])

Journey

In [9]:
print (msg[8:14])

before

In [15]:
print (msg[15:])

destination

In [18]:
print (msg[:])

Journey before destination

In [20]:
name = 'Vijay deenanath chauhan'
firstname = name[:5] #first 5 characters
middlename = name[6:-8]
lastname = name[16:]
print (firstname)
print (middlename)
print (lastname)

Vijay
deenanath
chauhan

In [24]:
#reverse 
print (name[::-1])

#step
print(name[::2])
print (name[1::2])

#leaving out the start and end
print (name[5:-5])

nahuahc htananeed yajiV
Vjydeaahcahn
ia ennt hua
 deenanath ch

In [31]:
x = '$5599.25 only'
y = x[1:-5]
print (float(y))

5599.25

# string methods
- formatting
    - upper()
    - lower()
    - title()
    - swapcase()
    - casefold()
    - center()
    - ljust()
    - rjust()

In [35]:
msg = "Life is Beautiful"
print(msg.upper())
print(msg.lower())
print(msg.title())
print(msg.capitalize())
print(msg.swapcase())
print(msg.casefold())
print(msg.center(50))
print(msg.rjust(50))
print(msg.ljust(50))
print(msg.ljust(50,'*'))
print(msg.rjust(50,'*'))
print(msg.center(50,"*"))

LIFE IS BEAUTIFUL
life is beautiful
Life Is Beautiful
Life is beautiful
lIFE IS bEAUTIFUL
life is beautiful
                Life is Beautiful
                                 Life is Beautiful
Life is Beautiful
Life is Beautiful*********************************
*********************************Life is Beautiful
****************Life is Beautiful*****************

- validation
     - isalpha()
     - isalnum()
     - isnumeric()
     - isdigit()
     - isspace()
     - isascii()
     - isprintable()
     - isupper()
     - islower()

In [38]:
data = input('enter anything you want')
print(data)
print(data.isalpha())
print(data.isalnum())
print(data.isnumeric())
print(data.isdigit())
print(data.isspace())
print(data.isascii())
print(data.isprintable())
print(data.isupper())
print(data.islower())

apple#123
False
False
False
False
False
True
True
False
True