### Strings
- creation
- indexing and slicing
- methods

In [ ]:
# single quoted
a = 'apple'
print (type(a))

In [ ]:
# double quoted
b = "big apple"
print (type(b))

In [ ]:
# triple quoted (in multiple lines)
c = '''this is a string
and its in triple
quotes'''
print(type(c))

In [3]:
d = str(1278353)
print (type(d))

<class 'str'>

types of string
- byte `b'hello'`
- raw `r'hello'`
- format `f'hello {a}'`

In [4]:
print (b'this is a byte string')
print (r'this is \n\n\n a byte string')
print (f'{a} is a value')

b'this is a byte string'
this is \n\n\n a byte string
apple is a value

# indexing
```
    -5  -4  -3  -2  -1
     a   p   p   l   e
     0   1   2   3   4
```

In [5]:
word = 'Greek'
print (word[0])
print (word[1])
print (word[2])
print (word[-2])
print (word[-1])

G
r
e
e
k

In [6]:
msg = "Journey before destination"
print(msg[15])
print(msg[-6])

d
n

# Slicing
```
sequence[start : stop]
```

In [8]:
print (msg[0:7])

Journey

In [9]:
print (msg[8:14])

before

In [15]:
print (msg[15:])

destination

In [18]:
print (msg[:])

Journey before destination

In [20]:
name = 'Vijay deenanath chauhan'
firstname = name[:5] #first 5 characters
middlename = name[6:-8]
lastname = name[16:]
print (firstname)
print (middlename)
print (lastname)

Vijay
deenanath
chauhan

In [24]:
#reverse 
print (name[::-1])

#step
print(name[::2])
print (name[1::2])

#leaving out the start and end
print (name[5:-5])

nahuahc htananeed yajiV
Vjydeaahcahn
ia ennt hua
 deenanath ch

In [31]:
x = '$5599.25 only'
y = x[1:-5]
print (float(y))

5599.25

# string methods
- formatting
    - upper()
    - lower()
    - title()
    - swapcase()
    - casefold()
    - center()
    - ljust()
    - rjust()

In [35]:
msg = "Life is Beautiful"
print(msg.upper())
print(msg.lower())
print(msg.title())
print(msg.capitalize())
print(msg.swapcase())
print(msg.casefold())
print(msg.center(50))
print(msg.rjust(50))
print(msg.ljust(50))
print(msg.ljust(50,'*'))
print(msg.rjust(50,'*'))
print(msg.center(50,"*"))

LIFE IS BEAUTIFUL
life is beautiful
Life Is Beautiful
Life is beautiful
lIFE IS bEAUTIFUL
life is beautiful
                Life is Beautiful
                                 Life is Beautiful
Life is Beautiful
Life is Beautiful*********************************
*********************************Life is Beautiful
****************Life is Beautiful*****************

- validation
     - isalpha()
     - isalnum()
     - isnumeric()
     - isdigit()
     - isspace()
     - isascii()
     - isprintable()
     - isupper()
     - islower()

In [38]:
data = input('enter anything you want')
print(data)
print(data.isalpha())
print(data.isalnum())
print(data.isnumeric())
print(data.isdigit())
print(data.isspace())
print(data.isascii())
print(data.isprintable())
print(data.isupper())
print(data.islower())

apple#123
False
False
False
False
False
True
True
False
True

- utility functions
     - split()
     - join()
     - find()
     - replace()
     - index()
     - strip()
     - count()

In [1]:
sentence = "All the glitter is not gold"
len(sentence.split())

['All', 'the', 'glitter', 'is', 'not', 'gold']

In [4]:
words = sentence.split()
for w in words:
    print (w)

All
the
glitter
is
not
gold

In [5]:
quote = "Life before death, strength before weakness, journey before destination"
quote.split(',')

['Life before death',
 ' strength before weakness',
 ' journey before destination']

In [6]:
poem ='''
Johnny Johnny, yes papa
eating Sugar, No Papa
Telling lies, No Papa
Open your mouth , ha! ha! ha!
 '''
poem.splitlines()

['',
 'Johnny Johnny, yes papa',
 'eating Sugar, No Papa',
 'Telling lies, No Papa',
 'Open your mouth , ha! ha! ha!',
 ' ']

In [8]:
add = ['C:','users','omi','download','file.txt']
print(add)
full_add = "/".join(add)
print(full_add)

['C:', 'users', 'omi', 'download', 'file.txt']
C:/users/omi/download/file.txt

Wap to count all even size words in a string entered by user

In [11]:
Str = input('enter a string')
word = Str.split()
j = 0
for w in word :
    l = len(w)
    if (l % 2 == 0):
        j += 1
print (j)

5

find() and index()

In [16]:
a = 'this is a message'
print(a.find('is'))
print (a.find('mess'))
print (a.find('are'))
print (a.find('is',3)) #starting from 3
#index is same as find but it throws an error if not found
# print (a.index('are')) #error
print(a.index('is'))
print (a.find('is',3)) #starting from 3

# searches a substring

2
10
-1
5
2
5

In [21]:
b = a.replace('is','was')
print(b)
c = b.replace('message','letter').replace('was','is')
print (c)
d = c.replace('t','k',2) #replace first 2 occurences
print(d)

thwas was a message
this is a letter
khis is a lekter

In [22]:
#replace as remove
data = 'he!!!!llo'
data.replace('!','') #remove all!

'hello'

Wap to remove all vowels from a string

In [26]:
sentence=input('enter a sentence')
r = sentence.replace('a','').replace('e','').replace('i','').replace('o','').replace('u','')
print (r)

hyy my nm s m . whts yrs

In [29]:
msg = 'one to three one two'
print (msg.count('o'))
print  (msg.count('one'))
print  (msg.count('ee'))
print ( msg.count('four'))

4
2
1
0

In [30]:
name = '   omi ' 
print(len(name),name)
clean_name = name.strip()
print (len(clean_name), clean_name)

7    omi
3 omi

```python
names =[
    'john',
    'alex',
    'jane',
    'alexa',
    ' jacob',
]
```

display this data after removing all leading and tariling spaces and making it upper case.

In [36]:
names =[
    'john',
    'alex',
    'jane',
    'alexa',
    ' jacob',
]
print(names)
for n in names :
    clean_data = n.strip()
    upper_case = clean_data.upper()
    print(upper_case, end=',')
    # print (n.strip().upper())

['john', 'alex', 'jane', 'alexa', ' jacob']
JOHN,ALEX,JANE,ALEXA,JACOB,